@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using NewShopApp.Models
@using NewShopApp.ModelView
@model List<Order>
@{
}
<div>
<div id="select">
       <form asp-action="StatusFilter" asp-controller="Admin" method="post"  >
            
                      <input  type="checkbox" name="Filter0"  value="Unconfirmed" />
                      <label>Unconfirmed</label> <br />
                       <input  type="checkbox" name="Filter1" value="Confirmed" />
                       <label>Confirmed</label><br />
                        <input  type="checkbox" name="Filter2" value="Done" />
                        <label>Done</label>
                  <input type="submit" />
              
           
               </form>
               </div>
<div class ="table">
<div align="center">
    @if(Model!=null)
    {
         <table class="table table-striped">
              <thead>
    <tr>
    
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Second Name</th>
       <th scope="col">Phone</th>
        <th scope="col">Email</th>
        <th scope="col">TotalPrice</th>
        <th scope="col">Status</th>
        <th scope="col"> create date time </th>
        <th scope="col">Action</th>
  
    </tr>
  </thead>
        <tbody id="refresh">
        @foreach(var i in Model)
        {
            
          
               <tr>
                   
                   <td> @i.Id</td>
                   <td>@i.Name</td>
                   <td>@i.SecondName</td>
                   <td>@i.Phone</td>
                   <td>@i.Email</td>
                   <td>@i.TotalPrice</td>
                   <td>@i.Status</td>
                   <td>@i.CreateDateTime</td>
                   <td>
                       @Html.ActionLink("Confirm", "OrderConfirm", "Admin", new {id=i.Id})
                       @Html.ActionLink("Remove", "RemoveOrder", "Admin", new {id=i.Id})
                     

                   </td>
             </tr>
      
        }
        </tbody>
           </table>
    }
    </div>
</div>
@section Scripts
{
       <script src="~/lib/jquery/dist/jquery.js"></script>
    <script type="text/javascript">
        
       $(document).ready(function () {
    var myInterval = setInterval(function () {
        getProgress();
    }, 5000);
});
var test;
function getProgress() {
   

    $.ajax({
        type: "GET",      
        url:'/Admin/GetAllOrdersJson' ,
      
  
        success: function (response) {
        
       
           var q_tb= document.getElementById("refresh");
         $('#refresh').empty();
      console.log(response);
         for(var i=0; i<response.length;i++)

         {
             if(response[i].status=="Confirmed")
             {
            
                   $('#refresh').append(`<tr><td>${response[i].id}</td><td>${response[i].name}</td><td>${response[i].secondName}</td>
                <td>${response[i].phone}</td><td>${response[i].email}</td><td>${response[i].totalPrice}</td>
                <td>${response[i].status}</td><td>${response[i].createDateTime}</td>
                <td><a href="/Admin/OrderDone/${response[i].id}">Done</a> </td>
               </tr>`);
               }
               else if(response[i].status="Uncofirmed")
               {
                      $('#refresh').append(`<tr><td>${response[i].id}</td><td>${response[i].name}</td><td>${response[i].secondName}</td>
                <td>${response[i].phone}</td><td>${response[i].email}</td><td>${response[i].totalPrice}</td>
                <td>${response[i].status}</td><td>${response[i].createDateTime}</td>
                <td><a href="/Admin/OrderConfirm/${response[i].id}">Confirm</a>
                <a href="/Admin/RemoveOrder/${response[i].id}">Remove</a>
                </td>
               </tr>`);
               }
               else if(response[i].status="Done")
               {
                      $('#refresh').append(`<tr><td>${response[i].id}</td><td>${response[i].name}</td><td>${response[i].secondName}</td>
                <td>${response[i].phone}</td><td>${response[i].email}</td><td>${response[i].totalPrice}</td>
                <td>${response[i].status}</td><td>${response[i].createDateTime}</td>
                <td><a href="/Admin/RemoveOrder/${response[i].id}">Remove</a> </td>
               </tr>`);

               }
               console.log(response[i].id);
               
             
         }
   
   

            
          
        },
        error: function () {
           alert("error")   
        }

    });
}

    </script>
 }
  