@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using NewShopApp.Models;
@using NewShopApp.ModelView;
@using Newtonsoft.Json;
@using Newtonsoft;
@using System.Globalization;
@model ShowItemsModelView
@{
    List<string> str = JsonConvert.DeserializeObject<List<string>>( TempData["Categories"].ToString());
}
<html>
    <body>
       <div>
           <form asp-action="CategorySelect" asp-controller="Item">
             @foreach(var i in str)
             {
                 if(i!=null)
                 {
                     <label asp-for="Category">@i</label>
                     <input asp-for="Category" name="Categories" type="checkbox" value="@i" />
                  }
  
          
 
             }
               <input type="submit" value="Confirm">
               </form>
       </div> 
<div class ="table">
<div align="center">
    @if(Model!=null)
    {
         <table class="table table-striped">
              <thead>
    <tr>
    
      <th scope="col">Id</th>
      <th scope="col">Name</th>
       <th scope="col">Count</th>
        <th scope="col">Price</th>
        <th scope="col">Image</th>
        <th scope="col"></th>
  
    </tr>
  </thead>
        
        @foreach(var i in Model.Products)
        {
          
               <tr>
                   
                   <td> @i.Id</td>
                   <td>
                    
                   @Html.ActionLink($"{i.Name}", "Show", "Item", new {id=i.Id})
               
               
               </td>
                 
                      @if(@i.Quantity==0)
                      {
                         <td>
                         Not available
                          
                       </td>   
                      }
                      else
                      {
                       <td>
                           @i.Quantity
                       </td>
                            }

                        <td>
                             @i.Price.ToString("C", CultureInfo.CurrentCulture)
                        </td>
                            <td>
                            
                   @*   <img src="upload/@i.Key.Image" />*@
                    <img class="img" src="/uploads/@Url.Content(i.Image)" height="64" width="64" />                    
                      </td>
                      <td>
                          <form asp-controller="Item" asp-action="AddToCart">
                               <input type="hidden" name="ProductId" value="@i.Id" />
                              <input type="submit" value="Buy" />
                          </form>
                          @* <td>@Html.ActionLink("Buy", "AddToCart","Item", new {id=@i.Id})</td>*@
                      </td>

                
               </tr>

           
                
        }
           </table>
    }
    </div>
       @* <img src="@Url.Content($"/upload/{@Model.First().Key.Image}")"/>*@
         @* <img src="~/upload/")"/>*@
       @*   <img src="@Url.Content(Model.Last().Key.Image)" />*@
       
</div>

    </body>
</html>
