@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using NewShopApp.Models;
@using NewShopApp.ModelView;
@model Cart
@{
}
<html>
    <div>
        <div class ="table">
<div align="center">
@if(Model!=null)
{
    @if(Model.Products!=null)
    {
         <table class="table table-striped">
              <thead>
    <tr>
    
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Image</th>
       <th scope="col">Price</th>
       
     
  
    </tr>
  </thead>
        
        @foreach(var i in Model.Products)
        {
          
               <tr>
                   
                   <td> @i.Id</td>
                   <td>@i.Name</td>
                   <td>
                        <img class="img" src="/uploads/@Url.Content(@i.Image)" height="64" width="64" />   
                   </td>
                     <td>@i.Price</td>
                    <td>@Html.ActionLink("Remove", "RemoveFromCart","Item", new {id=@i.Id})</td>
                  

                
               </tr>

           
                
        }
        <tr>
            <td>Total price</td>
            <td>
                
            </td>
            <td>@Model.TotalPrice</td>
        </tr>

           </table>
    }
    @Html.ActionLink("Create order", "OrderCreate", "Item")

    }
    @*@if(Model.Products.Count>0)
    {
  //  @Html.ActionLink("Create order", "OrderCreate","Home")
    }*@
    
    </div>
    </div>
</html>
