@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using NewShopApp.Models;
@using NewShopApp.ModelView;
@model NewShopApp.Models.Product;
@{
}
<div>

<div>
             <img class="img" src="/uploads/@Url.Content(Model.Image)" height="256" width="256" />
         </div>
             
         @Model.Name
         <br />
         <label>Price</label>
             @Model.Price
             <br />
             @if(Model.Quantity>0)
             {
                    <form asp-controller="Item" asp-action="AddToCart">
                               <input type="hidden" name="ProductId" value="@Model.Id" />
                              <input type="submit" value="Buy" />
                          </form>
             }
             <br />
             @Model.Quantity
             <br />
             @Model.Description
             <br />


</div>
